h1, h2, h3, h4, h5, h6, b, .navbar-brand, .brand-name {
font-family: Cheltenham,georgia,sans-serif;
font-weight: 400;
padding: 20px;
}

p {
	font-family: Cheltenham,georgia,sans-serif;
}


a {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: .75em;
	text-decoration:none;
	color:#323232;
}

a:hover {
	text-decoration:underline;
	color:#352DCE;
}